<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">Exportar dados (backup)</h1>
    </div>
    <div class="panel-body">
        <p>
            Gera e salva um arquivo "aux_transporte.json" restaurável.
        </p>         
        <form class="form">
            <button (click)="export()" class="btn btn-primary">GERAR BACKUP .json</button>
        </form>
    </div>
</div>  
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">Restaurar Dados</h1>
    </div>
    <div class="panel-body">
        <p>
            Restaura o banco de dados do sistema a partir de um arquivo "aux_transporte.json"<br>
            <small>Atenção: O arquivo "aux_transporte.json" precisa ter sido exportado deste sistema.</small>
        </p>         
        <form class="form">
            <div class="form-group">
                <label for="exampleFormControlFile1">Busque por "aux_transporte.json"</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1"  (change)="onFileChange($event)" multiple="false">
            </div>
            <button (click)="save()" class="btn btn-primary">RESTAURAR DB</button>
        </form>
    </div>
</div> 
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">Limpar Dados</h1>
    </div>
    <div class="panel-body">
        <p>
        Limpa o banco de dados do sistema para que possa iniciar do zero com um backup a partir de um arquivo "aux_transporte.json".</p>         
        <form class="form">
            <button (click)="clear()" class="btn btn-primary">Limpar dados do sistema</button>
        </form>
    </div>
</div>  
<!-- <input class="form-control" type="file" (change)="onFileChange($event.target.files[0])" multiple="false" /> -->
